@import url(https://fonts.googleapis.com/css?family=Bellota:300,300italic,regular,italic,700,700italic);@import url(https://fonts.googleapis.com/css?family=Judson:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #efefef;
  font-family: "Judson",serif;
}

.container{
  /* border: 2px solid red; */
  width: 80%;
  margin: 50px auto;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 10px;
  overflow: hidden;
}


/* ICONBAR  */

.iconbar{
  /* border: 1px solid blue; */
  background-color: bisque;
  padding: 10px 50px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.input-part{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}



.logo{
  width: 50px;
  height: 50px;
  box-shadow: 5px 5px 10px;
  border-radius: 15px;
  margin: 1rem;
}

.select-category select{
  width: 188px;
  height: 40px;
  background-color: #d9d9d9;
  font-family: "Bellota",system-ui;
font-weight: 600;
border-radius: 5px;

}
.search-input{
  width: 300px;
  height: 40px;
  margin-left: 1rem;
  background-color: #d9d9d9;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  
}

.search-input input{
  background-color: inherit;
  border: none;
  outline: none;
  padding-left: 1.5rem;
  font-size: 1rem;
}

.support{
  margin-left: 1rem;
}

.support-number{
font-size: 1.5rem;
}
.suppoer-text{
font-size: 1rem;
}

.icon{
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* NAVBAR   */

.navbar{
display: flex;
flex-wrap: wrap;
padding: 10px 50px;
gap: 2rem;
}
.button{
  background-color: #d9d9d9;
  width: 310px;
  padding: 1rem;
  border-radius: 5px;
  font-style: italic;
  display: flex;
  align-items: inherit;
  gap: 1rem;

  
}

.nav{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 1.5rem;
}

/* HEADER  */

header{
background-image: url(./images/stock.jpg);
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding: 1rem 5rem;
gap: 1rem;
}

.essential{
background-color: #d5dee5;
box-shadow: 5px 5px 10px;
display: flex;
align-items: center;
}

.essential-text{
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1;
  padding-left: 0.8rem;
  border-radius: 5px;

}

.sofa img{
width: 150px;
}

.yellow{
background-color: #ffc868;
width: 400px;
height: 300px;
border-radius: 5px;
overflow: hidden;
position: relative;
}

.yellow-text{
width: 80%;
padding: 1rem;
position: absolute;
right: 18px;
top: 50px;
}

.yellow img{
width: 100%;
height: 100%;
position: absolute;
bottom: 0;
}

/* CATEGORY  */

.categoryPart{
background-color: #a09382;
padding: 2rem;
font-size: 1.5rem;


}

.categories{
display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 
}

.card1{
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  padding: 1rem 1px 1rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
  font-family: "Josefin Slab", serif;
  background-color: #e5e2df;
}

.card1 img{
   width: 100%;
 height: 100%;
 padding: 1rem 1px 1rem 1rem;
 object-fit: cover;
 border-radius: 5px;
}

/* PRODUCTS  */

.productPart{
background-color: #eeecec;
padding: 2rem;
font-size: 1.5rem;

}

.products{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 1rem;
}

.card2{
width: 20rem;
height: 20rem;
margin: 1rem;
text-align: center;
box-shadow: 1px 1px 20px black;
border-radius: 1rem;

}

.card2 img{
  border-radius: inherit;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

/* CONTACT  */

.contact {
  display: flex;
 justify-content: center;
 gap: 1rem;
 flex-wrap: wrap;
 align-items: center;
 background-color: #aea08d;
 padding: 1rem;
}

.expert {
 background-color: inherit;
 width: 50%;
}

.lookforExpert {
 font-family: "Bellota", system-ui;
 font-size: 2rem;
}

.leaveInfo {
 line-height: 1.5;
}

span {
 color: #f37705;
}

.formSection {
 /* border: 1px solid red; */
 /* background-color: purple; */
 width: 40%;
 font-size: 1.5rem;
}

.formElement {
   margin: 1.5rem 0;
}
.formElement input {
   width: 100%;
   padding: 0.5rem 0;
   border: none;
   background-color: inherit;
   border-bottom: 1px solid black;
}

.formElement input:focus{
   outline: none;
   background-color: #7f7261;
}
.formElement label {
   font-size: 1.8rem;
}


.submit{
   padding: 1rem;
   border-radius: 5px;
   border: 1px solid black;
   outline: none;
   width: 13rem;
   height: 40px;
    display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   margin-left: 1rem;
}







