*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./image/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    width: 90vw;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.51);
    margin: auto;
    padding: 10px;
    position: relative;
}
header{
    text-align: center;
}
header h1{
    color: white;
    font-family: "Bowlby One SC", serif;
    font-weight: 900px;
}
header span{
    color: red;

}

header h3{
    color: white;
    font-family: "Sorts Mill Goudy", serif;
    font-style: italic;
}

form{
    width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.727);
    color: white;
    height: 90%;
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
    left: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Elemanları dikeyde yayar */
}

.inputbox{
    margin: 10px;
    
}
#name,#age,#email,#Feedback,#content{
    width: 100%;
}

#name,#age,#email,#content{
    height: 35px;
}


.submit{
    text-align: center;
}

.submit input{
    text-align: center;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
}